.results-schedule-container {
	display: flex;
	flex-direction: row;
    padding-top: 50px;

}

.results {
    width: 40%;
}

.runnerCard {
    text-decoration: none;
}

.card-container {
  background: rgba(255, 255, 255, 0.8);
  width: 41.5%;
  margin-left: 18%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.results-header {
    background-color: rgba(255,255,255,.8);
    width: 29.5%;
    margin-left: 18%;
    padding: 10px 6%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
}

/* @media screen and (max-width: 975px) {
    .results-schedule-container {
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin-left: 0px;
    }
    .results {
        width: auto;
    }
    .results-header {
        width: auto
    }
    .card-container {
        width: auto;
    }
} */
