.result-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 4%
}

.card {
    padding: 8px;
    text-decoration: none;
    color: black;
    text-align: left;
}
